.container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}
/* TODO: get rid of this */
.canvas {
  width: "100%";
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
