.container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.canvas-wrapper {
  position: relative;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}

#uploaded-image {
  position: absolute;
  top: 0px;
  left: 0px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.upload-image-wrapper {
  display: flex;
  align-items: center;
}

#upload-image {
  margin-right: 16px;
}
